.ag-table {
  .ant-table-small .ant-table-thead > tr > th {
    @apply bg-midnight-800 font-header text-midnight-200;

    font-size: 17px;
    padding: 2px 8px;
  }

  .ant-table.ant-table-small .ant-table-tbody > tr > td {
    padding: 2px 8px;
  }

  .ant-table-cell {
    @apply font-normal bg-midnight-700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
  }
}
