.flowboard {
  .flow-node {
    border-radius: 1px;

    background: #25282b;
    color: #cfd2d9;
    font-family: 'Courier New', Courier, monospace;

    width: 220px;
    height: 36px;

    box-shadow: #000 0px 0px 5px 1px;
    border: 1px solid #37393f;

    .node-content {
      @apply relative;

      .logo {
        @apply text-midnight-50 stroke-white;

        background-color: #151719;
        padding: 4px;
        border-radius: 1px 0 0 1px;
      }

      .title {
        @apply indent-2 font-thin;

        line-height: 36px;
        font-size: 10px;
      }
    }
  }

  .flow-node.trigger {
    .logo {
      @apply bg-yellow-500;
    }
  }

  .flow-node.terminate {
    .logo {
      @apply bg-success-400;
    }
  }

  .flow-node.log {
    .logo {
      @apply bg-cyan-500;
    }
  }

  .react-flow__node.selected {
    @apply shadow-primary-400;
  }

  .react-flow__edge-path {
    @apply stroke-midnight-300;
  }

  .react-flow__edge-artgen-edge:hover .react-flow__edge-path {
    @apply stroke-yellow-500;
  }

  .react-flow__handle.handle-custom {
    @apply transition-all duration-500;

    width: 14px;
    height: 14px;
    z-index: 4;
  }

  .react-flow__handle.react-flow__handle-top {
    @apply border-midnight-500;
    border-width: 2px;
    top: -8px;
    background-color: #cfd2d9;
  }

  .react-flow__handle.react-flow__handle-bottom {
    background-color: #555;
    border-width: 1px;
    bottom: -8px;
  }

  .react-flow__handle.react-flow__handle-bottom:hover {
    border-color: #37393f;
  }

  .handle-set-2.handle-set-nth-1 {
    @apply border-success-400;
    margin-left: -30px;
  }

  .handle-set-2.handle-set-nth-2 {
    margin-left: 30px;
  }

  .react-flow__handle.handle-error,
  .react-flow__handle.handle-invalid,
  .react-flow__handle.handle-no,
  .react-flow__handle.handle-failed,
  .react-flow__handle.handle-false {
    @apply border-red-400;
  }

  .smart-edge {
    @apply cursor-pointer;
  }
  .smart-edge:hover {
    .artboard-edit-button {
      opacity: 1;
    }
  }

  .artboard-edit-button {
    @apply text-midnight-50 bg-midnight-600 border-midnight-300;
    opacity: 0;
  }

  .artboard-edit-button.has-transform {
    @apply text-teal-500;
  }

  .react-flow__node:not(.selected) .artboard-edit-button {
    opacity: 0;
  }

  .flow-node:hover .artboard-edit-button,
  .react-flow__node.selected .artboard-edit-button {
    background-color: #cfd2d9;
    border-color: #37393f;
    color: #37393f;
    opacity: 1;
    z-index: 15;
  }

  .node-label {
    @apply absolute left-0 -bottom-4 rounded-sm text-center px-1 font-header;
    @apply bg-midnight-900 text-midnight-50;

    font-size: 8px;
    line-height: 14px;
    height: 14px;
  }
}
