.flowboard {
  .flow-node {
    .node-content {
      @apply relative;

      .logo {
        @apply mt-1 ml-2 bg-midnight-700 p-1 text-midnight-50 stroke-white;
      }

      .title {
        @apply indent-2 font-thin;

        line-height: 36px;
        font-size: 10px;
      }
    }
  }

  .flow-node.trigger {
    .logo {
      @apply bg-yellow-500;
    }
  }

  .flow-node.terminate {
    .logo {
      @apply bg-red-500;
    }
  }

  .flow-node.log {
    .logo {
      @apply bg-cyan-500;
    }
  }

  .react-flow__node {
    @apply bg-midnight-100 text-midnight-900;
    @apply rounded-sm shadow-sm shadow-midnight-900 p-0;

    width: 220px;
    height: 36px;
  }

  .react-flow__node.selected {
    @apply shadow-primary-400;
  }

  .react-flow__edge-path {
    @apply stroke-midnight-300;
  }

  .react-flow__edge-artgen-edge:hover .react-flow__edge-path {
    @apply stroke-yellow-500;
  }

  .react-flow__handle.handle-custom {
    @apply transition-all duration-500;

    width: 14px;
    height: 14px;
    z-index: 4;
  }

  .react-flow__handle.react-flow__handle-top {
    @apply bg-primary-500 border-midnight-500;
    border-width: 3px;
    top: -8px;
  }

  .react-flow__handle.react-flow__handle-bottom {
    @apply bg-midnight-700 border-success-700;
    border-width: 3px;
    bottom: -8px;
  }

  .react-flow__handle.react-flow__handle-bottom:hover {
    border-color: #37393f;
  }

  .handle-set-2.handle-set-nth-1 {
    margin-left: 36px;
  }

  .handle-set-2.handle-set-nth-2 {
    margin-left: -36px;
  }

  .react-flow__handle.handle-error,
  .react-flow__handle.handle-invalid,
  .react-flow__handle.handle-no,
  .react-flow__handle.handle-failed,
  .react-flow__handle.handle-false {
    @apply border-red-400;
  }

  .artboard-edit-button {
    @apply text-midnight-50 bg-midnight-600 border-midnight-300;
  }

  .artboard-edit-button.has-transform {
    @apply text-teal-500;
  }

  .react-flow__node:not(.selected) .artboard-edit-button {
    opacity: 0;
  }

  .flow-node:hover .artboard-edit-button,
  .react-flow__node.selected .artboard-edit-button {
    background-color: #cfd2d9;
    border-color: #37393f;
    color: #37393f;
    opacity: 1;
    z-index: 15;
  }

  .node-label {
    @apply absolute left-0 -bottom-4 rounded-sm text-center px-1 font-header;
    @apply bg-midnight-900 text-midnight-50;

    font-size: 8px;
    line-height: 14px;
    height: 14px;
  }
}
