.menu-block {
  font-family: 'Bebas Neue', cursive;
  background: #151719;
  text-transform: uppercase;

  padding: 6px 6px 3px 12px;
  font-size: 17px;
  line-height: 17px;

  color: #cfd2d9;

  border-top: 1px solid #37393f;
  border-bottom: 1px solid #37393f;
}
