@import './antd.less';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --white: #cfd2d9;
  --dark: #151719;
  --border: #37393f;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden; /* Always show the scroll, we can avoid the flickering with this */
  color: var(--white);
  font-weight: 100;
}

.wave-bg {
  background-color: var(--dark);
  background-image: url('../assets/img/waves.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.ant-page-header {
  line-height: 1.8;
}

.ant-page-header-heading-title {
  font-weight: 100;
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.right-sider {
  border-left: 1px solid var(--border);
}
